/* Variables de color */
:root {
    --color-rayo: #e63946; /* Rojo deportivo */
    --fondo-gris: #f4f4f9;
}

body {
    background-color: var(--fondo-gris);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Efectos en las tarjetas de productos */
.card {
    border: none;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}

.card-img-top {
    height: 180px;
    object-fit: contain;
    padding: 20px;
    background-color: #fff;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 700;
}

/* Ajustes para móviles (Responsivo) */
@media (max-width: 420px) {
    .display-4 {
        font-size: 2rem;
    }
}